Datos de los medidores de agua caliente y fría

In [7]:
#Importal librerías
import pandas as pd

In [8]:
#Leer archivo
muestras_df = pd.read_csv('../Archivos CSV/AGUA_CALIENTE_FRIA.csv')

In [9]:
#Información del df
muestras_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DIA            6 non-null      int64
 1   MES            6 non-null      object
 2   ANIO           6 non-null      int64
 3   AGUA FRIA      6 non-null      int64
 4   AGUA CALIENTE  5 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 368.0+ bytes

In [10]:
#Visualizar df
muestras_df.head()

   DIA      MES  ANIO  AGUA FRIA  AGUA CALIENTE
0   17  Febrero  2024       1029            NaN
1   14    Marzo  2024       1033          111.0
2    8    Abril  2024       1038          116.0
3   17    Abril  2024       1039          118.0
4   22    Abril  2024       1040          119.0