Análisis de gasto común

In [1]:
#Importar librerías
import pandas as pd

In [5]:
#Leer archivo
gc_df = pd.read_csv('../Archivos CSV/GASTO_COMUN.csv')

In [6]:
#Información del archivo
gc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   FOLIO                      10 non-null     object
 1   MES DE COBRO               10 non-null     object
 2   ANIO                       10 non-null     int64
 3   DESDE                      10 non-null     object
 4   HASTA                      10 non-null     object
 5   GASTO COMUN EDIFICIO       10 non-null     object
 6   GASTO COMUN                10 non-null     float64
 7   FONDO DE RESERVA           10 non-null     float64
 8   SEGURO UNIDAD COPROPIEDAD  9 non-null      float64
 9   AGUA INDIVIDUAL            10 non-null     float64
 10  COMBUSTIBLE                9 non-null      float64
 11  OTROS COBROS               1 non-null      float64
 12  70% BOL GAS                10 non-null     object
 13  VALOR TOTAL M3             10 non-null     float64
 14  TOTAL A PAGAR              10 non-null     float64
dtypes: float64(8), int64(1), object(6)
memory usage: 1.3+ KB

In [7]:
#Visualización df
gc_df.head()

,FOLIO,MES DE COBRO,ANIO,DESDE,HASTA,GASTO COMUN EDIFICIO,GASTO COMUN,FONDO DE RESERVA,SEGURO UNIDAD COPROPIEDAD,AGUA INDIVIDUAL,COMBUSTIBLE,OTROS COBROS,70% BOL GAS,VALOR TOTAL M3,TOTAL A PAGAR
0,13-3400,Junio,2023,31-05-2023,30-06-2023,18.527.884,57.603,2.880,2.558,6.659,24.203,NaN,4.394.514,6.172,93.903
1,14-3676,Julio,2023,30-06-2023,31-07-2023,16.185.498,50.321,2.516,2.558,5.382,20.220,NaN,4.633.712,6.401,80.997
2,15-3952,Agosto,2023,31-07-2023,31-08-2023,16.332.521,50.778,2.539,2.558,5.929,18.815,NaN,4.229.931,6.186,80.619
3,16-4228,Septiembre,2023,31-08-2023,30-09-2023,18.857.327,58.627,2.931,2.558,6.727,27.595,NaN,4.835.706,6.864,98.438
4,17-4504,Octubre,2023,30-09-2023,31-10-2023,16.427.727,51.074,2.554,NaN,7.095,23.807,NaN,4.104.248,6.180,84.530